[BUG] *RuntimeError: Command failed: % /usr/lib/waydroid/data/scripts/waydroid-net.sh start*

### Describe the bug

Trying to run ARM compatible up-to-date #16 image in Virtual Machine Manager Debian 12 GNOME guest and host on my laptop.

`iptables` is already installed.

`/var/run/` file to request reboot does not exist it seems.

DuckDuckGo search `"Command failed: % /usr/lib/waydroid/data/scripts/waydroid-net.sh"`.

### Waydroid version

Not read.

### Device

Linux Desktop

### Operating System

Not read.

### Kernel version

Not read.

### Desktop Environment

Not read.

### GPU

Not read.

### Logs

/var/lib/waydroid/waydroid.cfg
/var/lib/waydroid/waydroid.prop
/var/lib/waydroid/waydroid_base.prop
/var/lib/waydroid/waydroid.log
`sudo waydroid shell -- logcat -d | tee logcat.txt`
`sudo dmesg | tee dmesg.txt`


```bash
waydroid show-full-ui
```
<details>
<summary>Output:</summary>

```
[03:40:18] Starting waydroid session
[03:40:18] RuntimeError: Command failed: % /usr/lib/waydroid/data/scripts/waydroid-net.sh start
```
</details>

```bash
/usr/lib/waydroid/data/scripts/waydroid-net.sh start
```
<details>
<summary>Output:</summary>

```
vnic is waydroid0
RTNETLINK answers: Operation not permitted
Failed to setup waydroid-net.
```
</details>

```bash
sudo waydroid show-full-ui
```
<details>
<summary>Output:</summary>

```
[03:41:02] Starting waydroid session
[03:41:02] WAYLAND_DISPLAY is not set, defaulting to "wayland-0"
[03:41:02] XDG_RUNTIME_DIR is not set; please don't start a Waydroid session with 'sudo'!
```
</details>

while we are on Wayland.

Rebooting does not help.

```bash
sudo /usr/lib/waydroid/data/scripts/waydroid-net.sh start
```
<details>
<summary>Output:</summary>

```
vnic is waydroid0

dnsmasq: failed to create listening socket for 192.168.240.1: Address already in use
Failed to setup waydroid-net.
Failed to setup waydroid-net.
```
</details>

Maybe related to #41.

[waydroid/waydroid/issues/903#issuecomment-2049465381](https://github.com/waydroid/waydroid/issues/903#issuecomment-2049465381):

```bash
sudo netstat -tulpn | grep -w 53 | sort | uniq
```
<details>
<summary>Output:</summary>

```
tcp        0      0 127.0.0.1:53            0.0.0.0:*               LISTEN      737/named           
tcp        0      0 172.17.0.1:53           0.0.0.0:*               LISTEN      737/named           
tcp        0      0 192.168.122.148:53      0.0.0.0:*               LISTEN      737/named           
tcp6       0      0 ::1:53                  :::*                    LISTEN      737/named           
tcp6       0      0 XXXX::XXXX:XX:XXXX:X:XX :::*                    LISTEN      737/named           
udp        0      0 127.0.0.1:53            0.0.0.0:*                           737/named           
udp        0      0 172.17.0.1:53           0.0.0.0:*                           737/named           
udp        0      0 192.168.122.148:53      0.0.0.0:*                           737/named           
udp6       0      0 ::1:53                  :::*                                737/named           
udp6       0      0 XXXX::XXXX:XX:XXXX:X:XX :::*                                737/named
```
</details>

```bash
kill 737
```
```
bash: kill: (737) - Operation not permitted
```

```bash
sudo kill 737
```

does not return anything and `netstat` does not return anything anymore.

```bash
waydroid show-full-ui
```
```
[03:58:58] Starting waydroid session
```

hangs without anything showing up.

https://docs.waydro.id/faq/get-waydroid-to-work-through-a-vm

```bash
waydroid show-full-ui
```
<details>
<summary>Output:</summary>

```
[04:00:05] Starting waydroid session
[gbinder] Service manager /dev/anbox-binder has appeared
[04:00:22] Android with user 0 is ready
```
</details>

hangs but LineageOS graphically started.

Face again this issue after virtual machine reboot it seems.

I confirm that port 53 is used by default but because of what and just killing it makes `waydroid show-full-ui` work.

DuckDuckGo search `Linux "named" "53"`.

```bash
which named
```

does not return anything.

```bash
man named
```
<details>
<summary>Output:</summary>

```
NAMED(8)                                             BIND 9                                            NAMED(8)

NAME
       named - Internet domain name server

SYNOPSIS
       named  [ [-4] | [-6] ] [-c config-file] [-C] [-d debug-level] [-D string] [-E engine-name] [-f] [-g] [-L
       logfile] [-M option] [-m flag] [-n #cpus] [-p port] [-s] [-t directory] [-U #listeners] [-u  user]  [-v]
       [-V] [-X lock-file]

DESCRIPTION
       named  is a Domain Name System (DNS) server, part of the BIND 9 distribution from ISC. For more informa\u2010
       tion on the DNS, see RFC 1033, RFC 1034, and RFC 1035.

       When invoked without arguments, named reads the default configuration file  /etc/bind/named.conf,  reads
       any initial data, and listens for queries.

OPTIONS
       -4     This  option tells named to use only IPv4, even if the host machine is capable of IPv6. -4 and -6
              are mutually exclusive.

       -6     This option tells named to use only IPv6, even if the host machine is capable of IPv4. -4 and  -6
              are mutually exclusive.

       -c config-file
              This  option  tells  named  to  use config-file as its configuration file instead of the default,
              /etc/bind/named.conf. To ensure that the configuration file can be reloaded after the server  has
              changed  its  working  directory due to to a possible directory option in the configuration file,
              config-file should be an absolute pathname.

       -C     This option prints out the default built-in configuration and exits.

              NOTE: This is for debugging purposes only and is not an accurate  representation  of  the  actual
              configuration used by named at runtime.

       -d debug-level
              This option sets the daemon's debug level to debug-level. Debugging traces from named become more
              verbose as the debug level increases.

       -D string
              This option specifies a string that is used to identify a instance of named in a process listing.
              The contents of string are not examined.

       -E engine-name
              When  applicable, this option specifies the hardware to use for cryptographic operations, such as
              a secure key store used for signing.

              When BIND 9 is built with OpenSSL, this needs to be set to the  OpenSSL  engine  identifier  that
              drives the cryptographic accelerator or hardware service module (usually pkcs11).

       -f     This option runs the server in the foreground (i.e., do not daemonize).

       -g     This option runs the server in the foreground and forces all logging to stderr.

       -L logfile
              This option sets the log to the file logfile by default, instead of the system log.

       -M option
              This option sets the default (comma-separated) memory context options. The possible flags are:

              \u2022 fill:  fill blocks of memory with tag values when they are allocated or freed, to assist debug\u2010
                ging of memory problems; this is the implicit default if named has  been  compiled  with  --en\u2010
                able-developer.

              \u2022 nofill:  disable  the  behavior  enabled by fill; this is the implicit default unless named has
                been compiled with --enable-developer.

       -m flag
              This option turns on memory usage debugging flags. Possible flags are usage, trace, record, size,
              and mctx. These correspond to the ISC_MEM_DEBUGXXXX flags described in <isc/mem.h>.

       -n #cpus
              This  option  creates  #cpus worker threads to take advantage of multiple CPUs. If not specified,
              named tries to determine the number of CPUs present and creates one thread per CPU. If it is  un\u2010
              able to determine the number of CPUs, a single worker thread is created.

       -p value
              This option specifies the port(s) on which the server will listen for queries. If value is of the
              form <portnum> or dns=<portnum>, the server will listen for DNS queries on portnum;  if  not  not
              specified,  the default is port 53. If value is of the form tls=<portnum>, the server will listen
              for TLS queries on portnum; the default is 853.  If value is of  the  form  https=<portnum>,  the
              server  will  listen  for  HTTPS queries on portnum; the default is 443.  If value is of the form
              http=<portnum>, the server will listen for HTTP queries on portnum; the default is 80.

       -s     This option writes memory usage statistics to stdout on exit.

       NOTE:
          This option is mainly of interest to BIND 9 developers and may be removed or changed in a future  re\u2010
          lease.

       -S #max-socks
              This option is deprecated and no longer has any function.

       WARNING:
          This  option should be unnecessary for the vast majority of users.  The use of this option could even
          be harmful, because the specified value may exceed the limitation of the underlying system API. It is
          therefore set only when the default configuration causes exhaustion of file descriptors and the oper\u2010
          ational environment is known to support the specified number of sockets. Note also  that  the  actual
          maximum  number is normally slightly fewer than the specified value, because named reserves some file
          descriptors for its internal use.

       -t directory
              This option tells named to chroot to directory after processing the command-line  arguments,  but
              before reading the configuration file.

       WARNING:
          This  option should be used in conjunction with the -u option, as chrooting a process running as root
          doesn't enhance security on most systems; the way chroot is defined allows a process with root privi\u2010
          leges to escape a chroot jail.

       -U #dispatches
              This option specifies the number of per-interface UDP #dispatches that named should use to handle
              the outgoing (recursive) UDP connection, to reduce contention between the resolver threads.

              If not specified, named calculates a default value based on the number of detected CPUs: 1 for  a
              single CPU, and the number of detected CPUs minus one for machines with more than 1 CPU.

              This cannot be increased to a value higher than the number of CPUs (see -n on how to override the
              value).

       WARNING:
          This option should be unnecessary for the vast majority of users, and will be  removed  in  the  next
          version of BIND 9.

       -u user
              This  option  sets  the  setuid  to user after completing privileged operations, such as creating
              sockets that listen on privileged ports.

       NOTE:
          On Linux, named uses the kernel's capability mechanism to drop all root privileges except the ability
          to  bind  to a privileged port and set process resource limits. Unfortunately, this means that the -u
          option only works when named is run on kernel 2.2.18 or later, or kernel 2.3.99-pre3 or later,  since
          previous kernels did not allow privileges to be retained after setuid.

       -v     This option reports the version number and exits.

       -V     This  option  reports the version number, build options, supported cryptographics algorithms, and
              exits.

       -X lock-file
              This option acquires a lock on the specified file at runtime; this  helps  to  prevent  duplicate
              named  instances  from running simultaneously.  Use of this option overrides the lock-file option
              in named.conf. If set to none, the lock file check is disabled.

SIGNALS
       In routine operation, signals should not be used to control the nameserver; rndc should be used instead.

       SIGHUP This signal forces a reload of the server.

       SIGINT, SIGTERM
              These signals shut down the server.

       The result of sending any other signals to the server is undefined.

CONFIGURATION
       The named configuration file is too complex to describe in detail here. A complete description  is  pro\u2010
       vided in the BIND 9 Administrator Reference Manual.

       named  inherits  the umask (file creation mode mask) from the parent process. If files created by named,
       such as journal files, need to have custom permissions, the umask should be set explicitly in the script
       used to start the named process.

FILES
       /etc/bind/named.conf
              The default configuration file.

       /run/named.pid
              The default process-id file.

SEE ALSO
       RFC 1033, RFC 1034, RFC 1035, named-checkconf(8), named-checkzone(8), rndc(8), named.conf(5), BIND 9 Ad\u2010
       ministrator Reference Manual.

AUTHOR
       Internet Systems Consortium

COPYRIGHT
       2025, Internet Systems Consortium

9.18.33-1~deb12u2-Debian                           2025-01-20                                          NAMED(8)
```
</details>

```bash
sudo service named status
```
<details>
<summary>Output:</summary>

```
● named.service - BIND Domain Name Server
     Loaded: loaded (/lib/systemd/system/named.service; enabled; preset: enabled)
     Active: active (running) since Mon 2025-04-14 14:24:33 CEST; 2min 49s ago
       Docs: man:named(8)
   Main PID: 908 (named)
     Status: "running"
      Tasks: 50 (limit: 18847)
     Memory: 189.3M
        CPU: 119ms
     CGroup: /system.slice/named.service
             └─908 /usr/sbin/named -f -u bind

Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX:XXX::X:XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX::X#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX::XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX::XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX:X::X#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX:XX::XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: any newly configured zones are now loaded
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: running
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: managed-keys-zone: Key 20326 for zone . is now trusted (acceptance timer complete)
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: managed-keys-zone: Key 38696 for zone . is now trusted (acceptance timer complete)
```
</details>

```bash
sudo service bind9 status
```
<details>
<summary>Output:</summary>

```
● named.service - BIND Domain Name Server
     Loaded: loaded (/lib/systemd/system/named.service; enabled; preset: enabled)
     Active: active (running) since Mon 2025-04-14 14:24:33 CEST; 21min ago
       Docs: man:named(8)
   Main PID: 908 (named)
     Status: "running"
      Tasks: 50 (limit: 18847)
     Memory: 189.3M
        CPU: 127ms
     CGroup: /system.slice/named.service
             └─908 /usr/sbin/named -f -u bind

Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX:XXX::X:XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX::X#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX::XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX::XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX:X::X#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: network unreachable resolving './DNSKEY/IN': XXXX:XXX:XX::XX#53
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: any newly configured zones are now loaded
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: running
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: managed-keys-zone: Key 20326 for zone . is now trusted (acceptance timer complete)
Apr 14 14:24:33 Benjamin-Loison-HP-Debian-Debian-trust-virtual-machine named[908]: managed-keys-zone: Key 38696 for zone . is now trusted (acceptance timer complete)
```
</details>

Is bind9 installed by default on Debian? Otherwise what package have I installed that installed bind9?

```bash
history | grep 'apt install' | grep 'bind'
```

does not return anything as `benjamin_loison` and `root`.

```bash
sudo service bind9 disable
```
```
bind9: unrecognized service
```

```bash
sudo service named disable
```
```
Usage: /etc/init.d/named {start|stop|reload|restart|force-reload|status}.
```

```bash
sudo systemctl disable bind9
```
<details>
<summary>Output:</summary>

```
Removed "/etc/systemd/system/multi-user.target.wants/named.service".
Removed "/etc/systemd/system/bind9.service".
```
</details>

solves the issue on reboot despite having:

```bash
sudo netstat -tulpn | grep -w 53 | sort | uniq
```
<details>
<summary>Output:</summary>

```
tcp        0      0 10.0.3.1:53             0.0.0.0:*               LISTEN      1712/dnsmasq        
udp        0      0 10.0.3.1:53             0.0.0.0:*                           1712/dnsmasq
```
</details>

```bash
sudo service bind9 status
```
```
Unit bind9.service could not be found
```

```bash
sudo killall dnsmasq
```

on my Debian 12 GNOME laptop and enabling Wi-Fi in the emulated phone or restarting the emulated phone does not help.

While:

```bash
sudo netstat -tulpn | grep -w 53
```

does not return anything anymore.

Blocking [Benjamin_Loison/TikTok/issues/1](https://codeberg.org/Benjamin_Loison/TikTok/issues/1).

DuckDuckGo and Google search *Waydroid LineageOS 20.0 Wi-Fi*.

[waydroid/waydroid/issues/1349#issuecomment-2300220306](https://github.com/waydroid/waydroid/issues/1349#issuecomment-2300220306) is already the case.

I searched open and closed issues since 20.0 release in `.json` without luck.

Only [waydroid/waydroid/issues/1945](https://github.com/waydroid/waydroid/issues/1945) may be relevant.

<details>
<summary>Output:</summary>

```
(303245) [01:01:19] Starting waydroid session
(133374) [01:01:19] % /usr/lib/waydroid/data/scripts/waydroid-net.sh start
vnic is waydroid0
(133374) [01:01:19] % systemctl is-active -q nfcd
(133374) [01:01:19] % chmod 777 -R /dev/dri/renderD129
(133374) [01:01:19] % chmod 777 -R /dev/dri/renderD128
(133374) [01:01:19] % chmod 777 -R /dev/fb0
(133374) [01:01:19] % chmod 777 -R /dev/video3
(133374) [01:01:19] % chmod 777 -R /dev/video2
(133374) [01:01:19] % chmod 777 -R /dev/video1
(133374) [01:01:19] % chmod 777 -R /dev/video0
(133374) [01:01:19] % mv /var/lib/waydroid/config_session /var/lib/waydroid/lxc/waydroid
(133374) [01:01:19] % mount -o ro /var/lib/waydroid/images/system.img /var/lib/waydroid/rootfs
(133374) [01:01:19] % mount -t overlay -o ro,lowerdir=/var/lib/waydroid/overlay:/var/lib/waydroid/rootfs,upperdir=/var/lib/waydroid/overlay_rw/system,workdir=/var/lib/waydroid/overlay_work/system,xino=off overlay /var/lib/waydroid/rootfs
(133374) [01:01:19] % mount -o ro /var/lib/waydroid/images/vendor.img /var/lib/waydroid/rootfs/vendor
(133374) [01:01:19] % mount -t overlay -o ro,lowerdir=/var/lib/waydroid/overlay/vendor:/var/lib/waydroid/rootfs/vendor,upperdir=/var/lib/waydroid/overlay_rw/vendor,workdir=/var/lib/waydroid/overlay_work/vendor,xino=off overlay /var/lib/waydroid/rootfs/vendor
(133374) [01:01:19] % mount -o bind /var/lib/waydroid/waydroid.prop /var/lib/waydroid/rootfs/vendor/waydroid.prop
(133374) [01:01:19] Save config: /var/lib/waydroid/waydroid.cfg
(133374) [01:01:19] % lxc-start -P /var/lib/waydroid/lxc -F -n waydroid -- /init
(133374) [01:01:19] New background process: pid=303366, output=background
(133374) [01:01:19] % lxc-info -P /var/lib/waydroid/lxc -n waydroid -sH
RUNNING
(303245) [01:01:19] Skipping clipboard manager service because of missing pyclip package
(303245) [01:01:30] waydroidusermonitor: Received transaction: 1
(303245) [01:01:30] Android with user 0 is ready
(303245) [01:01:30] % adb start-server
```
</details>

Disabling gufw on my Debian 12 GNOME laptop solves the issue.

Related to #46.